---
title: "Gripindoor - Your guide to climbing gyms everywhere!"
---

  <div id="contactForm">
    <h1 id="contact-title">If you've visited a climbing gym and would like to share your thoughts about it, you can submit a review below.</h1>
    

    <form method="POST" action="http://formspree.io/manev.ru@gmail.com">
      <input placeholder="Your name" name = "name" type="text" required />
      <input placeholder="Email" name = "e-mail" type="email" required />
      <input placeholder="Name of the gym" name = "subject" type="text" required />
      <textarea placeholder="Write something..." name = "message"></textarea>
      <input class="formBtn" type="submit" />
    </form>
  </div>

    <div id="map-wrapper">
        <div id="gyms"></div>
        
        
<!--             <a><h1> <%= link_to 'List', '/list.html' %> </a> -->
    </div>
    

<script>
  var mymap = L.map('gyms',{
  	zoomDelta: 1.5,
  	zoomSnap: 1
  }).setView([50.6935386,12.4555987], 5);

L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets'
}).addTo(mymap);

	var carabiner = L.icon({
    iconUrl: 'stylesheets/images/carabiner.png',
    iconSize: [35, 35], // size of the icon
    iconColor: '#DAAF47'
});

	L.marker([42.69382, 23.33604], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Sofia University Wall");

	L.marker([52.5071382,13.452276], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Der Kegel");

	L.marker([52.5010016,13.4381262], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Boulderklub Kreuzberg");

	L.marker([52.4912605,13.4514467], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Ostbloc Boulderhalle");

	L.marker([52.4981755,13.3954329], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Bright Site - Berlin Boulder Project");

	L.marker([52.5223336,13.3874214,], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Berta block Boulderhalle Berlin");

	L.marker([42.6652928,23.3721769], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Walltopia");

	L.marker([42.649847,23.3471509], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Bonsist");

	L.marker([42.649847,23.3471509], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>NSA Climbing");

	L.marker([48.1982026,16.3627918], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Edelweiss Center");

	L.marker([48.1982026,16.3627918], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Blockfabrik");

	L.marker([48.1982381,16.3627918], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Vienna City Rock");

	L.marker([48.1986682,16.3586164], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Flakturm");

	L.marker([48.1281244,11.6028905], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Boulderwelt Munich Ost");

	L.marker([48.1365236,11.4181963], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Boulderwelt Munich West");


		var popup = L.popup();

	var options = {
	    modal: true,
	    title: "Box area zoom"
	};
	var control = L.control.zoomBox(options);
	map.addControl(control);

</script>


<a class="contact"><h1>Submit</h1></a>
