---
title: "Gripindoor - Your guide to climbing gyms everywhere!"
---

  <div id="contactForm">
    <h1 id="contact-title">If you've visited a climbing gym and would like to share your thoughts about it, you can submit a review below.</h1>
    

    <form method="POST" action="http://formspree.io/manev.ru@gmail.com">
      <input placeholder="Your name" name = "name" type="text" required />
      <input placeholder="Email" name = "e-mail" type="email" required />
      <input placeholder="Name of the gym" name = "subject" type="text" required />
      <textarea placeholder="Write something..." name = "message"></textarea>
      <input class="formBtn" type="submit" />
    </form>
  </div>

    <div id="map-wrapper">
        <div id="gyms"></div>
        
        
<!--             <a><h1> <%= link_to 'List', '/list.html' %> </a> -->
    </div>
    
		<div class="contact">
			<a id="contact"><h1>Submit</h1></a>
		</div>

	<div class="logo">
		<img src="images/grip1.png">
	</div>

<script>
  var mymap = L.map('gyms',{
  	zoomDelta: 1.5,
  	zoomSnap: 1
  }).setView([50.6935386,12.4555987], 5);

L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets'
}).addTo(mymap);

	var carabiner = L.icon({
    iconUrl: 'stylesheets/images/carabiner.png',
    iconSize: [35, 35], // size of the icon
});

	var markers = L.markerClusterGroup();

		// SOFIA

	markers.addLayer(L.marker([42.69382, 23.33604], {icon: carabiner}).bindPopup('<h5>Sofia University Wall</h5><div id="gym-icons"><div class="gym-details"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></div><span id="gym-entry">Sveti Kliment Ohridski" 2, 1504 Sofia</span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-link fa-2x" aria-hidden="true"></i></div><span id="gym-entry">No website yet.</span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></div><span id="gym-entry"><a href="https://www.facebook.com/stenatasu">Stenata SU</a></span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-money fa-2x" aria-hidden="true"></i></div><span id="gym-entry">2.5 EUR one time / 15 EUR per month</span></div><div id="SUwallAcc" data-children=".item"><div class="item"><a data-toggle="collapse" data-parent="#SUwallAcc" href="#SUwallAcc1" aria-expanded="true" aria-controls="SUwallAcc1"><h6>Summary</h6></a><div id="SUwallAcc1" class="collapse" role="tabpanel"><p class="mb-3">Relatively small climbing gym with a loyal community of regulars. Lots of skilled climbers train here. Good bouldering opportunities and some climbing routes. The gym is located inside one of the giant domes of the Sofia University, which means that the walls inside are all curved. This makes for harder rope climbing roures.</p></div></div>'));

	markers.addLayer(L.marker([42.6652928,23.3721769], {icon: carabiner}).bindPopup("<b>Walltopia"));

	markers.addLayer(L.marker([42.649847,23.3471509], {icon: carabiner}).bindPopup("<b>Bonsist"));

	mymap.addLayer(markers);

		// BERLIN

	L.marker([52.5071414,13.452276], {icon: carabiner}).addTo(mymap)
		.bindPopup('<h5>Der Kegel</h5><div id="gym-icons"><div class="gym-details"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></div><span id="gym-entry">Revaler Str. 99, 10245 Berlin</span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-link fa-2x" aria-hidden="true"></i></div><span id="gym-entry"><a href="http://derkegel.de">www.derkegel.de</a></span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></div><span id="gym-entry"><a href="https://www.facebook.com/derKegelBerlin/">Der Kegel</a></span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-money fa-2x" aria-hidden="true"></i></div><br><span>Mo - Fri after 15:00 / Sat until 19:00 - 7 EUR<br>Mo - Fri until 15:00 / Sat after 19:00 - 4 EUR<br> Card for 10 times - 63 EUR<br>Card for 6 months - 230 EUR<br>Card for a year - 360 EUR<br>Check website for details about discounts.<br></span></div><div id="KegelAcc" data-children=".item"><div class="item"><a data-toggle="collapse" data-parent="#KegelAcc" href="#KegelAcc1" aria-expanded="true" aria-controls="KegelAcc1"><h6>Summary</h6></a><div id="KegelAcc1" class="collapse" role="tabpanel"><p class="mb-3">Relatively small indoor bouldering part and bigger wall on the outside. Lots of skilled climbers train here. Good bouldering opportunities and routes are changed regularly. Outside there is a tall concrete tower with holds that can be climbed.</p></div></div>');

	L.marker([52.548664, 13.382088], {icon: carabiner}).addTo(mymap)
		.bindPopup('<h5>Magic Mountain</h5><div id="gym-icons"><div class="gym-details"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></div><span id="gym-entry">Böttgerstraße 20, 13357 Berlin</span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-link fa-2x" aria-hidden="true"></i></div><span id="gym-entry"><a href="http://www.magicmountain.de">www.magicmountain.de</a></span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></div><span id="gym-entry"><a href="https://www.facebook.com/MagicMountainKletterhalle/">Magic Mountain</a></span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-money fa-2x" aria-hidden="true"></i></div><br><span>2 hours - 14 EUR<br>Entire day - 17 EUR<br>Card for 6 months - 629 EUR<br>Card for 12 months - 999 EUR<br>Check website for details about discounts.<br></span></div><div id="KegelAcc" data-children=".item"><div class="item"><a data-toggle="collapse" data-parent="#KegelAcc" href="#KegelAcc1" aria-expanded="true" aria-controls="KegelAcc1"><h6>Summary</h6></a><div id="KegelAcc1" class="collapse" role="tabpanel"><p class="mb-3">Comming soon.</p></div></div>');

	L.marker([52.4956908,13.42916], {icon: carabiner}).addTo(mymap)
		.bindPopup('<h5>Boulderklub Kreuzberg</h5><div id="gym-icons"><div class="gym-details"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></div><span id="gym-entry">Ohlauer Str. 38, 10999 Berlin</span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-link fa-2x" aria-hidden="true"></i></div><span id="gym-entry"><a href="http://boulderklub.de">www.boulderklub.de</a></span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></div><span id="gym-entry"><a href="https://www.facebook.com/boulderklubkreuzberg/">Boulderklub Kreuzberg</a></span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-money fa-2x" aria-hidden="true"></i></div><br><span>Regular - 9 EUR<br>Card for 10 times - 81 EUR<br>Card for 6 months - 300 EUR<br>Card for 12 months - 450 EUR<br>Check website for details about discounts.<br></span></div><div id="KegelAcc" data-children=".item"><div class="item"><a data-toggle="collapse" data-parent="#KegelAcc" href="#KegelAcc1" aria-expanded="true" aria-controls="KegelAcc1"><h6>Summary</h6></a><div id="KegelAcc1" class="collapse" role="tabpanel"><p class="mb-3">Comming soon.</p></div></div>');

	L.marker([52.4916864,13.4879932], {icon: carabiner}).addTo(mymap)
		.bindPopup('<h5>Ostbloc Boulderhalle</h5><div id="gym-icons"><div class="gym-details"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></div><span id="gym-entry">Hauptstraße 13, 10317 Berlin</span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-link fa-2x" aria-hidden="true"></i></div><span id="gym-entry"><a href="https://www.ostbloc.de">www.ostbloc.de</a></span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></div><span id="gym-entry"><a href="https://www.facebook.com/ostbloc">Ostbloc Boulderhalle</a></span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-money fa-2x" aria-hidden="true"></i></div><br><span>Regular - 9 EUR<br>Mo - Fri, 10 - 14 - 6 EUR<br>Card for 11 times - 90 EUR<br>Card for 6 months - 300 EUR<br>Card for 12 months - 420 EUR<br>Check website for details about discounts.<br></span></div><div id="KegelAcc" data-children=".item"><div class="item"><a data-toggle="collapse" data-parent="#KegelAcc" href="#KegelAcc1" aria-expanded="true" aria-controls="KegelAcc1"><h6>Summary</h6></a><div id="KegelAcc1" class="collapse" role="tabpanel"><p class="mb-3">Comming soon.</p></div></div>');

	L.marker([52.4821717,13.3658217], {icon: carabiner}).addTo(mymap)
		.bindPopup('<h5>Bright Site</h5><div id="gym-icons"><div class="gym-details"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></div><span id="gym-entry">Wilhelm-Kabus-Straße 40, 10829 Berlin</span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-link fa-2x" aria-hidden="true"></i></div><span id="gym-entry"><a href="http://www.boulder-project.de">www.boulder-project.de</a></span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></div><span id="gym-entry"><a href="https://www.facebook.com/bright.site.berlin">Bright Site Boulder Project</a></span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-money fa-2x" aria-hidden="true"></i></div><br><span>Regular - 10 EUR<br>Mo - Fri, 09 - 14 - 7 EUR<br>Card for 11 times - 100 EUR<br>Card for 6 months - 320 EUR<br>Card for 12 months - 480 EUR<br>Check website for details about discounts.<br></span></div><div id="KegelAcc" data-children=".item"><div class="item"><a data-toggle="collapse" data-parent="#KegelAcc" href="#KegelAcc1" aria-expanded="true" aria-controls="KegelAcc1"><h6>Summary</h6></a><div id="KegelAcc1" class="collapse" role="tabpanel"><p class="mb-3">Comming soon.</p></div></div>');

	L.marker([52.5635204,13.4095218], {icon: carabiner}).addTo(mymap)
		.bindPopup('<h5>Berta Block</h5><div id="gym-icons"><div class="gym-details"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></div><span id="gym-entry">Mühlenstraße 62, 13187 Berlin</span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-link fa-2x" aria-hidden="true"></i></div><span id="gym-entry"><a href="http://www.bertablock.de">www.bertablock.de</a></span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></div><span id="gym-entry"><a href="https://www.facebook.com/berta.block.5/">Berta Block Boulderhalle</a></span></div><div id="gym-icons"><div class="gym-details"><i class="fa fa-money fa-2x" aria-hidden="true"></i></div><br><span>Regular - 10 EUR<br>Mo - Fri, until 13 - 6 EUR<br>Card for 10 times - 90 EUR<br>Card for 6 months - 300 EUR<br>Card for 12 months - 450 EUR<br>Check website for details about discounts.<br></span></div><div id="KegelAcc" data-children=".item"><div class="item"><a data-toggle="collapse" data-parent="#KegelAcc" href="#KegelAcc1" aria-expanded="true" aria-controls="KegelAcc1"><h6>Summary</h6></a><div id="KegelAcc1" class="collapse" role="tabpanel"><p class="mb-3">Comming soon.</p></div></div>');

	L.marker([42.649847,23.3471509], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>NSA Climbing");

	L.marker([48.1982026,16.3627918], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Edelweiss Center");

	L.marker([48.1982026,16.3627918], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Blockfabrik");

	L.marker([48.1982381,16.3627918], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Vienna City Rock");

	L.marker([48.1986682,16.3586164], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Flakturm");

	L.marker([48.1281244,11.6028905], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Boulderwelt Munich Ost");

	L.marker([48.1365236,11.4181963], {icon: carabiner}).addTo(mymap)
		.bindPopup("<b>Boulderwelt Munich West");

		var popup = L.popup();

</script>



