---
title: "Gripindoor - Your guide to climbing gyms everywhere!"
---


  <div id="contactForm">
    <h1 id="contact-title">If you've visited a climbing gym and would like to share your thoughts about it, you can submit a review below.</h1>
    

    <form method="POST" action="http://formspree.io/manev.ru@gmail.com">
      <input placeholder="Your name" name = "name" type="text" required />
      <input placeholder="Email" name = "e-mail" type="email" required />
      <input placeholder="Name of the gym" name = "subject" type="text" required />
      <textarea placeholder="Write something..." name = "message"></textarea>
      <input class="formBtn" type="submit" />
    </form>
  </div>