---
title: "Gripindoor - Your guide to climbing gyms everywhere!"
---

<div class="main">

	<h1>Sofia University Wall</h1>

	<hr>
	
		<div id="gym-icons">
			<div class="gym-details"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></div>
			<span id="gym-entry">Sveti Kliment Ohridski" 2, 1504 Sofia</span>
		</div>


		<div id="gym-icons">
			<div class="gym-details"><i class="fa fa-link fa-2x" aria-hidden="true"></i></div>
			<span id="gym-entry">No website yet.</span>
		</div>

		<div id="gym-icons">
			<div class="gym-details"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></div>
			<span id="gym-entry"><a href="https://www.facebook.com/stenatasu">Stenata SU</a></span>
		</div>

		<div id="gym-icons">
			<div class="gym-details"><i class="fa fa-money fa-2x" aria-hidden="true"></i></div>
			<span id="gym-entry">Mo - Fri after 15:00 / Sat until 19:00 - 7 EUR</span>
			<span id="gym-entry">Mo - Fri until 15:00 / Sat after 19:00 - 4 EUR</span>
		</div>


	<div id="SUwallAcc" data-children=".item">
	  <div class="item">
	    <a data-toggle="collapse" data-parent="#SUwallAcc" href="#SUwallAcc1" aria-expanded="true" aria-controls="SUwallAcc1">
	      <h2>Summary</h2>
	    </a>
	    <div id="SUwallAcc1" class="collapse" role="tabpanel">
	      <p class="mb-3">
	        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.
	      </p>
	    </div>
	  </div>
	  <div class="item">
	    <a data-toggle="collapse" data-parent="#SUwallAcc" href="#SUwallAcc2" aria-expanded="false" aria-controls="SUwallAcc2">
	      <h2>Photos</h2>
	    </a>
	    <div id="SUwallAcc2" class="collapse" role="tabpanel">
	      <p class="mb-3">
	        Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
	      </p>
	    </div>
	  </div>
	</div>


<!-- ACCORDION -->
<!-- 	<div class="panel-group">
	  	<div class="panel panel-default">
		    <div class="panel-heading">
		      <h1 class="panel-title">
		        <a data-toggle="collapse" href="#collapse1">Address</a>
		      </h1>
		    </div>
		    <div id="collapse1" class="panel-collapse collapse">
		      <ul class="list-group">
		        <li class="list-group-item">One</li>
		        <li class="list-group-item">Two</li>
		        <li class="list-group-item">Three</li>
		      </ul>
		    </div>
  		</div>
	</div>
</div> -->


<div class="back-btn">
	<a href="index.html"><p>< BACK TO MAP</p></a>
</div>